.App {
  text-align: center;
  padding: 20px;
  overflow: hidden;
  margin: 0;
}

/* Header */
header {
  background-color: #003087; /* Superman Blue */
  color: #d7df23; /* Superman Gold */
  padding: 20px;
  position: fixed;
  height: 5%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Head1 {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.Head1 img {
  width: 100px;
  transform: translate(-20%, -20%);
}

.Head1 span {
  color: gold;
  font-size: 24px;
  transform: translate(-35%, -60%);
}

.favButton {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 50px; /* Add margin to the right */
}

.currency-select {
  display: flex;
  align-items: center;
  justify-content: center; /* Add margin to the left */
  margin-right: auto;
}

.currency-select label {
  color: gold; /* Superman Gold */
  font-weight: bold;
  margin-left: 40px; /* Adjust the margin as needed */
}

.currency-select select,
.currency-select select option {
  cursor: pointer;
}

main {
  margin-top: 90px;
}

/* Search Bar */
.search-bar input[type="text"] {
  background-color: #f8f8f8; /* Light Gray */
  width: 300px;
  height: 30px;
}

.search-bar {
  margin-bottom: 20px;
}
.search-bar button {
  background-color: #003087; /* Superman Blue */
  color: #fff;
  height: 35px;
  margin: 10px;
  cursor: pointer;
}

/* Top Five Cryptocurrencies */
.top-five h2 {
  color: #003087; /* Superman Blue */
}

/* Other Cryptocurrencies */
.other-cryptos h2 {
  color: #003087; /* Superman Blue */
}

.coin {
  border: 2px solid #003087; /* Superman Blue */
  z-index: -1;
}

.coin img {
  border: 2px solid gold; /* Superman Gold */
  margin: 0 auto; /* Add this line */
  cursor: pointer;
}
.coin-image {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
}

.coin-details h3 {
  color: #003087; /* Superman Blue */
}

.coin-details p {
  color: #333;
  font-weight: bold;
}

.coin-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.coin {
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
  margin: 10px;
  padding: 10px;
  border: 2px solid #003087; /* Superman Blue */
  border-radius: 5px;
  max-width: 250px;
}

/* Table */
table {
  width: 80%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

table {
  border: 2px solid #003087; /* Superman Blue */
}

th {
  background-color: #003087; /* Superman Blue */
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: lightgrey; /* Light Gray */
}

footer {
  background-color: #003087; /* Superman Blue */
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  transition: transform 0.3s ease;
}

.footer-hidden {
  transform: translateY(100%);
}

h1,
h2,
h3 {
  margin: 0;
  color: #333;
}

p {
  margin: 5px 0;
}

/* News Section */
.news-section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Update this line */
  cursor: pointer;
  margin-bottom: 30px;
}

.news-section h2 {
  color: #003087;
}

.news-card:nth-child(even) {
  margin-left: 20px;
}

.news-card {
  width: calc(33.33% - 20px);
  border: 1px solid #005fb3;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 20px;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  align-items: center; /* Add this line */
  text-align: center; /* Add this line */
}

.news-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #005fb3;
}

.news-card p {
  font-size: 14px;
  color: #333;
}

.popup {
  background-color: #f8f8f8; /* Superman Blue */
  color: #003087; /* Superman Gold */
  padding: 20px;
  border: 2px solid #003087;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; /* Set your desired maximum width */
  max-height: 80vh; /* Set the maximum height to 80% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.popup h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: red;
}

.popup p {
  font-size: 14px;
  margin-bottom: 10px;
}

.popup button {
  background-color: #003087; /* Superman Blue */
  color: #d7df23; /* Superman Gold */
  border: 2px solid #d7df23; /* Superman Gold */
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.popup button:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.chart-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 450px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

/* Styles for Superman theme dark */
.favorites-popup {
  background-color: #003087;
  border: 2px solid #ff0000; /* Red */
  padding: 20px;
  position: absolute;
  top: 100%; /* Position the popup below the favButton */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px; /* Adjust the max-width as needed */
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favorites-popup h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ff0000;
  text-transform: uppercase;
}

.favorite-coin span {
  color: #ffffff;
  font-size: 16px;
}

.favorite-coin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  font-weight: bold;
}

.favorite-coin .coin-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.favorite-coin .coin-details p {
  margin: 5px 0;
  color: white;
}

.remove-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #cc0000;
}

.favorites-popup .closeFav {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.favorites-popup .closeFav:hover {
  background-color: #cc0000;
}

.favButton {
  background-color: transparent;
  border: none;
  color: gold; /* Superman Gold */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.favButton:hover {
  color: #ffffff; /* White */
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  /* Add your portrait styles here */

  /* Example styles */
  .Head1 {
    position: static;
    margin-bottom: -20px;
  }

  .currency-select {
    margin-top: -20px;
  }

  /* Rest of the portrait styles... */

  .Head1 img {
    width: 50px;
    transform: translate(-30%, -20%);
  }

  .Head1 span {
    font-size: 18px;
    transform: translate(-35%, -40%);
  }

  .search-bar input[type="text"] {
    width: 100%;
  }

  .coin {
    max-width: 100%;
    margin: 10px auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .coin-details p,
  .coin-details h3 {
    font-size: 12px;
  }

  .news-section {
    justify-content: flex-start;
  }

  .news-card {
    width: 100%;
    margin-left: 0;
  }

  .news-card:nth-child(even) {
    margin-left: 0px;
  }

  table {
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
  }

  table img {
    width: 20px;
  }

  .chart-modal {
    align-items: flex-start;
    padding: 20px;
  }

  .chart-container {
    width: 100%;
    height: 30%;
    max-width: none;
    max-height: none;
  }

  .popup {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
  }

  .popup h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .popup p {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .popup button {
    padding: 6px 12px;
  }

  .favorites-popup {
    padding: 10px;
    margin-top: 10px;
  }

  .favorites-popup h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .favorite-coin span {
    font-size: 14px;
  }

  .remove-button,
  .favorites-popup .closeFav {
    padding: 6px 12px;
    font-size: 12px;
  }

  /* Add more styles as needed for smaller screens */
}

/* Styles for screens between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  /* Add your portrait styles here */

  /* Example styles */
  header {
    padding: 15px;
  }

  h1 {
    font-size: 28px;
  }

  .coin-list {
    flex-direction: column;
  }

  .favorites-popup {
    padding: 40px;
    margin-top: 40px;
  }

  .favorites-popup h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .favorite-coin span {
    font-size: 28px;
  }

  .remove-button,
  .favorites-popup .closeFav {
    padding: 16px 32px;
    font-size: 28px;
  }

  table {
    font-size: 14px;
    table-layout: fixed;
  }
  /* Add more styles as needed for this screen size range */
}

/* Styles for screens larger than 1024px */
@media (min-width: 1025px) {
  /* Add your portrait styles here */

  /* Example styles */
  header {
    padding: 40px;
  }

  h1 {
    font-size: 42px;
  }

  table {
    font-size: 16px;
    table-layout: fixed;
  }
  /* Add more styles as needed for larger screens */
}

/* Styles for Samsung phones */
@media (max-width: 600px) and (max-height: 1024px) and (-webkit-device-pixel-ratio: 3) {
  /* Add your portrait styles here */

  /* Example styles */
  .Head1 {
    position: static;
    margin-bottom: -20px;
  }

  .currency-select {
    margin-top: -20px;
  }

  /* Rest of the portrait styles... */

  .Head1 img {
    width: 50px;
    transform: translate(-30%, -20%);
  }

  .Head1 span {
    font-size: 18px;
    transform: translate(-35%, -40%);
  }

  .search-bar input[type="text"] {
    width: 100%;
    font-size: 14px;
  }

  .coin {
    margin: 5px auto;
    padding: 0;
  }

  .coin-details p,
  .coin-details h3 {
    font-size: 10px;
  }

  .news-card {
    width: 100%;
    margin-left: 0;
    padding: 5px;
  }

  table {
    font-size: 10px;
    table-layout: fixed;
  }

  .chart-modal {
    padding: 10px;
  }

  .popup {
    width: 90%;
    max-width: 200px;
    padding: 5px;
    font-size: 14px;
    overflow-y: auto;
  }

  .popup h3 {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .popup p {
    font-size: 10px;
    margin-bottom: 6px;
  }

  .popup button {
    padding: 4px 8px;
    font-size: 12px;
  }

  /* Add more styles as needed for Samsung phones */
}

/* Styles for landscape screens smaller than 600px */
@media (max-width: 600px) and (orientation: landscape) {
  /* Add your landscape styles here */

  /* Example styles */
  .Head1 {
    /* Landscape-specific styles for Head1 */
    margin-bottom: -30px;
  }

  .currency-select {
    /* Landscape-specific styles for currency-select */
    margin-top: -30px;
  }

  table {
    font-size: 10px;
    table-layout: fixed;
  }

  /* Rest of the landscape styles... */
}

/* Styles for landscape screens between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: landscape) {
  /* Add your landscape styles here */

  /* Example styles */
  header {
    /* Landscape-specific styles for header */
    padding: 20px;
  }

  h1 {
    /* Landscape-specific styles for h1 */
    font-size: 36px;
  }

  table {
    font-size: 12px;
    table-layout: fixed;
  }

  /* Rest of the landscape styles... */
}

/* Styles for landscape screens larger than 1024px */
@media (min-width: 1025px) and (orientation: landscape) {
  /* Add your landscape styles here */

  /* Example styles */
  header {
    /* Landscape-specific styles for header */
    padding: 50px;
  }

  h1 {
    /* Landscape-specific styles for h1 */
    font-size: 48px;
  }

  table {
    font-size: 14px;
    table-layout: fixed;
  }

  /* Rest of the landscape styles... */
}

/* Styles for landscape Samsung phones */
@media (max-width: 600px) and (max-height: 1024px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  /* Add your landscape styles here */

  /* Example styles */
  .Head1 {
    /* Landscape-specific styles for Head1 */
    margin-bottom: -30px;
  }

  .currency-select {
    /* Landscape-specific styles for currency-select */
    margin-top: -30px;
  }

  table {
    font-size: 8px;
    table-layout: fixed;
  }

  /* Rest of the landscape styles... */
}
